

.section-information{
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 50px 20px;

  
}

.FAQS-dropdown-item {
  
  padding: 0px 5px;
  border-radius: 2px;
  border-top: 1px solid var(--color-orange);
  /* box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.061); */
  

  color: var(--color-darkBlue);
}

.dropdown-title {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
.dropdown-title button {
  background-color: var(--color-tan)
}

.dropdown-content{
  animation-name: dropDown;
  animation-duration: .5s;
}

.location-container {
  text-align: center;

  h3 {
    text-decoration: underline;
  }
  p {
    font-size: .8rem;
  }
  a {
    color: var(--color-orange);
  }
  img {
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.199);
    border: 1px solid var(--color-orange);
    max-width: 100%;
  }
}


@keyframes dropDown {
  from {transform: translateY(-100%);
        opacity: 0;}
  to {transform: translateY(0%);
      opacity: 100%;}
}