

.footer {
  margin-top: 20px;
}

.signature {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

  img {
    width: 50px;
  }
}

a {
  color: var(--color-darkBlue);
}

@media only screen and (min-width: 600px) {
  .signature img {
    width: 30px;
  }
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-size: .8rem;
  }
}