:root {
  --color-orange: #B1884B;
  --color-darkBlue: #3D5C83;
  --color-lightBlue: #8C909A;
  --color-ivory: rgb(252, 255, 235);
  --color-black: rgba(8, 11, 17, 0.897);
  --color-lightBlack: rgba(8, 11, 17, 0.5);

  background-color: var(--color-ivory);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;

  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;

  transition: .1s ease-in;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.jost-thin {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.font-fancy {
  font-family: 'woodland', sans-serif;
  font-size: 20px;
}
.font-fancyTwo {
  font-family: 'Petit Formal Script', sans-serif;
  font-weight: 600;
}

@font-face {
  font-family: 'woodland';
  src: url(./assets/fonts/Woodland-K7Y0e.otf);
}


.hover-effect:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: .2s ease-in
}

button {
  padding: 5px;
  border-radius: 2px;
  border: none;
  color: var(--color-Black);
}

.button-light {
  background-color: (var(--color-ivory));
}
.button-orange-full {
  background-color: var(--color-orange);
  color: var(--color-ivory);
}

.section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* overflow: hidden; */
  overflow: visible;
  max-width: 100%;
}

.section-navbar {
  position: sticky;
  top: 0;
  z-index: 99;
}


.title-pic {
  object-fit: cover;
  max-height: 500px;
}
.cafe-pic {
  max-height: 600px;
  transform: translateX(-70px);
}
.serious-pic {
  max-height: 800px;
}

.title {
  position: absolute;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  top: 20%;
  z-index: 99;
  width: 80%;

  h1 {
    font-size: 1.8rem;
  }
}

.section-title {
  height: 500px;
  max-width: 100%;
}

.section-ceremony-reception-info {
  margin: 50px 0;
}

.ceremony-reception-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 300px;
  padding: 20px 30px;
  text-align: center;
  font-size: 1rem;

  background-color: color-mix(in srgb, var(--color-ivory) 70%, transparent);
  border-radius: 5px;
  border-top: 1px solid var(--color-orange);
  border-bottom: 1px solid var(--color-orange);
  
}
.ceremony-reception-info h3 {
  font-weight: 500;
}

.rsvp button {
  padding: 10px 50px;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--color-ivory);

  background-color: var(--color-orange);
  box-shadow: 0 0 10px 10px color-mix(in srgb, var(--color-ivory) 70%, transparent);
}

.section-registry {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 20px 0px 50px 0px;

  button {
    padding: 10px 40px;
    font-size: 1.5rem;
  }
}

.section-last {
  text-align: center;

  h2 {
    position: absolute;
    top: 200px;

    font-weight: 700;
    font-size: 2rem;
    color: var(--color-ivory);
  }
}

@media only screen and (min-width: 600px) {
  /* :root {
    font-size: 12px;
  } */
  .cafe-pic {
    transform: none;
  }
  .banner-img {
    width: 100vw;
    object-fit: cover;
  }
  .section-mobileNav {
    visibility: hidden;
  }
}

@media only screen and (max-width: 601px) {
  .section-navbar {
    visibility: hidden;
  }
}
