

.jost-thin {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;

  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}



button {
  padding: 5px;
  border-radius: 2px;
  border: none;
  color: var(--color-Black);
}

.button-light {
  background-color: var(--color-ivory);

}

:root {
  --color-orange: #B1884B;
  --color-darkBlue: #3D5C83;
  --color-lightBlue: #8C909A;
  --color-ivory: #FCFFEB;
  --color-black: rgba(8, 11, 17, 0.897);
  --color-lightBlack: rgba(8, 11, 17, 0.5);

  background-color: var(--color-ivory);
}